{% extends 'site_with_tests/base.html' %}

{% block content %}
<h2 align="center" class="py2" style="margin-top: 10px">{{title}}</h2>
<table border="1" width="100%" cellpadding="5" align="center" rules="groups">
    <thead>
    <tr>
        <th><b style="color: #8598DB">id теста</b></th>
        <th><b style="color: #8598DB">Название</b></th>
        <th><b style="color: #8598DB">Описание</b></th>
    </tr>
    </thead>
    <tbody>
    {% for t in tests %}
    <tr>
        <th><a href="{% url 'main:passing_test' t.pk %}">{{t.pk}}</a></th>
        <th>{{t.name_of_test}}</th>
        <th>{{t.description}}</th>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}