{% extends 'site_with_tests/base.html' %}

{% block content %}
<div class="mb-3">
    <form method="post">
         {% csrf_token %}
        <p><label for="{{ form.name_of_quest.id_for_label }}" class="form-label">Название теста</label>{{ form.name_of_quest }}</p>
        <input type="text" class="form-control" id="name_of_test">
        <button type="submit" class="btn btn-outline-primary">Добавить</button>
    </form>
</div>
<div class="mb-3">
    <form method="post">
        {% csrf_token %}
        <p><label for="{{ form.description.id_for_label }}" class="form-label">Описание</label> {{ form.description }}</p>
<!--    <input type="text" class="form-control" id="description">-->
    </form>
</div>
<table border="1" width="100%" cellpadding="5" align="center" rules="groups" style="border-color: #8598DB">
    <thead>
    <tr>
        <th><b style="color: #8598DB">id вопроса</b></th>
        <th><b style="color: #8598DB">Формулировка вопроса</b></th>
        <th><b style="color: #8598DB">Добавить</b></th>
    </tr>
    </thead>
    <tbody>
    {% for q in questions %}
    <tr>
        <th class="fw-normal">{{q.pk}}</th>
        <th class="fw-normal">{{q.quest}}</th>
        <th>
            <div class="form-check form-switch">
                <form method="post">
                <input class="form-check-input" type="checkbox" id="addToTest">
                <p><label class="form-check-label" for="{{ form.test.id_for_label }}"></label>{{ form.test }}</p>
                </form>
            </div>
        </th>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div style="margin-top: 10px">
    <form method="post">
        {% csrf_token %}
    <button type="submit" class="btn btn-outline-primary">Сформировать</button>
    </form>
</div>
{% endblock %}