{% extends 'site_with_tests/base.html' %}

{% block content %}
<h2 align="center" class="py2" style="margin-top: 10px">{{content.title}} теста "{{content.test}}"</h2>

<tbody>

    <form method="post">
    <div class="test">
        {% for q in content.questions %}
            <fieldset class="row mb-3">
                <label class="form.label">{{q.id}}. {{q.quest}}</label>
                <div class="col-sm-10">
                    <div class="form-check">
                        <label for="{{ form.answer_of_user1.id_for_label }}" class="form.label">{{q.var1}}</label>{{ form.answer_of_user1 }}
                        </div>
                    <div class="form-check">
                        <label for="{{ form.answer_of_user1.id_for_label }}" class="form-check-label">{{q.var2}}</label>{{ form.answer_of_user1 }}
                        </div>
                    <div class="form-check">
                        <label for="{{ form.answer_of_user1.id_for_label }}" class="form-check-label">{{q.var3}}</label>{{ form.answer_of_user1 }}
                        </div>
                    <div class="form-check">
                        <label for="{{ form.answer_of_user1.id_for_label }}" class="form-check-label">{{q.var4}}</label>{{ form.answer_of_user1 }}
                    </div>
                </div>
            </fieldset>
        {% endfor %}
    </div>

    <div>
        <button type="submit" class="btn btn-outline-primary">Отправить</button>

    </div>
        </form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

    </tbody>

{% endblock %}