form {
    display: block;
    margin-top: 0em;
}
.container {
  max-width: 960px;
}
.box1 {
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.center {
    padding: 10px;
    margin: auto;
   }